<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Agendamentos</title>
  <link rel="stylesheet" href="css/agendar.css">
</head>



<body>
  <header class="container">
    <div class="header-menu">
      <div class="imagem-logo">
        <a href="/logado"><img src="IMG/Captura de tela 2024-09-02 141005 1LOGO.svg" alt=""></a>
      </div>
      <div class="menu-barber">
        <ul>
          <li><a href="/logout">Sair</a></li>
          <li><a href="/agendamentos">Meus agendamentos</a></li>
        </ul>
      </div>
    </div>
  </header>
  <h1 class="agendamento-titulo">Faça seu agendamento aqui</h1>
  <div id="calendario">
    <div id="navegacao">
      <button id="prev">&lt; Anterior</button>
      <span id="mes-ano"></span>
      <button id="next">Próximo &gt;</button>
    </div>
    <div id="calendario-mes"></div>
  </div>

  </div>

  </div>
  <div class="horas"></div>
  <div class="botao-hora">
    <a href="" id="data-hora">Selecionar data e hora <span class="loading"></span></a>

  </div>
  <script src="agendar.js"></script>
</body>

</html>