<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Meus Agendamentos</title>
  <link rel="stylesheet" href="css/agendamentos.css">
</head>

<body>
  <header class="container">
    <div class="header-menu">
      <div class="imagem-logo">
        <a href="/logado"><img src="IMG/Captura de tela 2024-09-02 141005 1LOGO.svg" alt="Logo"></a>
      </div>
      <div class="menu-barber">
        <ul>
          <li><a href="/logout">Sair</a></li>
        </ul>
      </div>
    </div>
  </header>

  <main>
    <div class="content-wrapper">
      <h1 class="title">Meus Agendamentos</h1>
      <div id="container-dia" class="agendamento-container">
        <ul id="dia" class="agendamentos-list"></ul>
      </div>
      <div class="cancelar-container">
        <a href="#" id="negar" class="btn-cancelar">Selecione horário para cancelar agendamento<span class="loading"></span></a>
      </div>
    </div>
  </main>
  <footer class="footer-bg">
    <div>
      <h1>© 2015 Barbearia Lipe Cortes LTDA. CNPJ: 12.456.789/0001-07</h1>
    </div>
  </footer>
  <script src="script/agendamentos.js"></script>
</body>

</html>