<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Agendamentos</title>
  <link rel="stylesheet" href="css/agendar.css">
</head>

<body>
  <header class="container">
    <div class="header-menu">
      <div class="imagem-logo">
        <a href="/logado"><img src="IMG/Captura de tela 2024-09-02 141005 1LOGO.svg" alt=""></a>
      </div>
      <div class="menu-barber">
        <ul>
          <li><a href="/logout">Sair</a></li>
          <li><a href="/agendamentos">Meus agendamentos</a></li>
        </ul>
      </div>
    </div>
  </header>

  <main class="main-container">
    <h1 class="agendamento-titulo">Faça seu agendamento aqui</h1>

    <section id="calendario" class="calendario">
      <div id="navegacao" class="calendario-nav">
        <button id="prev" class="btn-navegacao">&lt; Anterior</button>
        <span id="mes-ano" class="mes-ano"></span>
        <button id="next" class="btn-navegacao">Próximo &gt;</button>
      </div>
      <div id="calendario-mes" class="calendario-mes"></div>
    </section>

    <section class="horas-container">
      <div class="horas"></div>
      <div class="botao-hora">
        <a href="#" id="data-hora" class="btn-agendar">Selecionar data e hora <span class="loading"></span></a>
      </div>
    </section>
  </main>

  <script src="script/agendar.js"></script>
</body>

</html>