<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Registre-se</title>
  <link rel="stylesheet" href="/css/definirHorario.css">
</head>

<body>
  <header class="container">
    <div class="header-menu">
      <div class="imagem-logo">
        <a href="/home"><img src="IMG/Captura de tela 2024-09-02 141005 1LOGO.svg" alt=""></a>
      </div>
      <div class="menu-barber">
        <ul>
          <li><a href="register">Inscreva-se</a></li>
          <li><a href="login">Login</a></li>
        </ul>
      </div>
    </div>
  </header>
  <main>

    <h1>Selecione os horários para a semana</h1>
    <form id="formulario">
      <div>
        <label for="name">Segunda</label>
        <input type="text" id="name" name="name">
        <input type="text" id="name" name="name">
        <input type="text" id="name" name="name">
      </div>
      <div>
        <label for="email">Terça</label>
        <input type="email" id="email" name="email">
        <input type="text" id="name" name="name">
        <input type="text" id="name" name="name">
      </div>
      <div>
        <label for="password">Quarta</label>
        <input type="password" id="password" name="password">
        <input type="text" id="name" name="name">
        <input type="text" id="name" name="name">
      </div>
      <div>
        <label for="confirmpassword">Quinta</label>
        <input type="password" id="confirmpassword" name="confirmpassword">
        <input type="text" id="name" name="name">
        <input type="text" id="name" name="name">
      </div>
      <div>
        <label for="confirmpassword">Sexta</label>
        <input type="password" id="confirmpassword" name="confirmpassword">
        <input type="text" id="name" name="name">
        <input type="text" id="name" name="name">
      </div>
      <div>
        <label for="confirmpassword">Sábado</label>
        <input type="password" id="confirmpassword" name="confirmpassword">
        <input type="text" id="name" name="name">
        <input type="text" id="name" name="name">
      </div>
      <button class="botao" type="submit">Enviar</button>
      <div class="resposta"></div>
    </form>


  </main>

  <script src="register.js"></script>
</body>

</html>