<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Registre-se</title>
  <link rel="stylesheet" href="/css/definirHorario.css">
</head>

<body>
  <header class="container">
    <div class="header-menu">
      <div class="imagem-logo">
        <a href="/home"><img src="IMG/Captura de tela 2024-09-02 141005 1LOGO.svg" alt=""></a>
      </div>
      <div class="menu-barber">
        <ul>
          <li><a href="register">Inscreva-se</a></li>
          <li><a href="login">Login</a></li>
        </ul>
      </div>
    </div>
  </header>
  <main>

    <h1>Selecione os horários para a semana</h1>
    <form id="formulario">

      <div class="segunda">
        <label>Segunda </label>
        <div class="group">
          <label for="">INICIO</label>
          <input type="number" placeholder="00 horas" max="23">
        </div>
        <div class="group">
          <label for="">FIM</label>
          <input type="number" placeholder="00horas ">
        </div>
        <div class="group">
          <label for="">INTERVALO</label>
          <input type="number" placeholder="00 minutos">
        </div>
      </div>
      <div class="terca">
        <label>Terça</label>
        <input type="number" placeholder="00:00">
        <input type="number" placeholder="00:00">
        <input type="number" placeholder="00:00">
      </div>
      <div class="quarta">
        <label>Quarta</label>
        <input type="number" placeholder="00:00">
        <input type="number" placeholder="00:00">
        <input type="number" placeholder="00:00">
      </div>
      <div class="quinta">
        <label>Quinta</label>
        <input type="number" placeholder="00:00">
        <input type="number" placeholder="00:00">
        <input type="number" placeholder="00:00">
      </div>
      <div class="sexta">
        <label>Sexta</label>
        <input type="number" placeholder="00:00">
        <input type="number" placeholder="00:00">
        <input type="number" placeholder="00:00">
      </div>
      <div class="sabado">
        <label>Sábado</label>
        <input type="number" placeholder="00:00">
        <input type="number" placeholder="00:00">
        <input type="number" placeholder="00:00">
      </div>
      <button class="botao" type="submit">Enviar</button>
      <div class="resposta"></div>
    </form>


  </main>

  <script src="selecionarHorario.js"></script>
</body>

</html>