<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Registre-se</title>
  <link rel="stylesheet" href="/css/definirHorario.css">
</head>

<body>
  <header class="container">
    <div class="header-menu">
      <div class="imagem-logo">
        <a href="/home"><img src="IMG/Captura de tela 2024-09-02 141005 1LOGO.svg" alt=""></a>
      </div>
      <div class="menu-barber">
        <ul>
          <li><a href="/clientes">Clientes</a></li>
          <li><a href="/logout">Sair</a></li>
        </ul>
      </div>
    </div>
  </header>
  <main class="desktop">
    <h1>Selecione os horários para a semana</h1>
    <form id="formulario">

      <div>
        <label class="segunda-label">Segunda</label>
        <div class="group">
          <label for="">INICIO</label>
          <select class="segunda inicio-segunda">
          </select>
        </div>
        <div class="group">
          <label for="">FIM</label>
          <select class="segunda fim-segunda">
          </select>
        </div>
        <div class="group">
          <label for="">INTERVALO</label>
          <select id="minutos" class="segunda intervalo-segunda">
          </select>
        </div>
      </div>
      <div>
        <label>Terça</label>
        <select class="terca inicio-terca">
        </select>
        <select class="terca fim-terca">
        </select>
        <select id="minutos" class="terca intervalo-terca">
        </select>
      </div>
      <div>
        <label>Quarta</label>
        <select class="quarta inicio-quarta">
        </select>
        <select class="quarta fim-quarta">
        </select>
        <select id="minutos" class="quarta intervalo-quarta">
        </select>
      </div>
      <div>
        <label>Quinta</label>
        <select class="quinta inicio-quinta">
        </select>
        <select class="quinta fim-quinta">
        </select>
        <select id="minutos" class="quinta intervalo-quinta">
        </select>
      </div>
      <div>
        <label>Sexta</label>
        <select class="sexta inicio-sexta">
        </select>
        <select class="sexta fim-sexta">
        </select>
        <select id="minutos" class="sexta intervalo-sexta">
        </select>
      </div>
      <div>
        <label>Sábado</label>
        <select class="sabado inicio-sabado">
        </select>
        <select class="sabado fim-sabado">
        </select>
        <select id="minutos" class="sabado intervalo-sabado">
        </select>
      </div>
      <div>
        <label>Domingo</label>
        <select class="domingo inicio-domingo">
        </select>
        <select class="domingo fim-domingo">
        </select>
        <select id="minutos" class="domingo intervalo-domingo">

        </select>
      </div>
      <button class="botao" type="submit">Enviar</button>
    </form>

  </main>

  <main class="mobile">
    <h1>Selecione os horários para a semana</h1>
    <form id="formulario">
      <div>
        <label>Selecione o dia:</label>
        <select name="" id="dias">
          <option value="Segunda">Segunda</option>
          <option value="Terca">Terça</option>
          <option value="Quarta">Quarta</option>
          <option value="Quinta">Quinta</option>
          <option value="Sexta">Sexta</option>
          <option value="Sabado">Sábado</option>
          <option value="Domingo">Domingo</option>
        </select>
        <div class="group">
          <label for="">INICIO</label>
          <select class="segunda inicio-segunda">
          </select>
        </div>
        <div class="group">
          <label for="">FIM</label>
          <select class="segunda fim-segunda">
          </select>
        </div>
        <div class="group">
          <label for="">INTERVALO</label>
          <select id="minutos" class="segunda intervalo-segunda">
          </select>
        </div>
        <button class="botao" type="submit">Enviar</button>
    </form>

  </main>
  <footer class="footer-bg">
    <div>
      <h1>© 2015 Barbearia Lipe Cortes LTDA. CNPJ: 12.456.789/0001-07</h1>
    </div>
  </footer>
  <script src="script/selecionarHorario.js"></script>
</body>

</html>