<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Teste barbearia</title>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,700;1,300;1,400&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="./css/index.css">
</head>

<body>
  <header class="container">
    <div class="header-menu">
      <div class="imagem-logo">
        <a href="/home"><img src="IMG/Captura de tela 2024-09-02 141005 1LOGO.svg" alt=""></a>
      </div>
      <div class="menu-barber">
        <ul>
          <li><a href="/register">Inscreva-se</a></li>
          <li><a href="/login">Login</a></li>
        </ul>
      </div>
    </div>
  </header>
  <main class="bg-servicos">
    <section class="servicos container">
      <div>
        <h1>Conheça os nossos serviços</h1>
      </div>
      <div class="conteudo-servicos">
        <ul>
          <li>
            <h2>Corte
            </h2>
            <p>Corte de cabelo completo com tesoura, máquina e navalha.</p>
            <div class="pagamento">
              <h3 class="avulso">Avulso <span>R$35</span></h3>
              <h3 class="avulso">Mensal <span>R$35</span></h3>
            </div>
          </li>
          <li>
            <h2>Corte + barba
            </h2>
            <p>Corte de cabelo completo com tesoura, máquina e navalha.</p>
            <div class="pagamento">
              <h3 class="avulso">Avulso <span>R$35</span></h3>
              <h3 class="avulso">Mensal <span>R$35</span></h3>
            </div>
          </li>
          <li>
            <h2>barba + sobrancelha
            </h2>
            <p>Corte de cabelo completo com tesoura, máquina e navalha.</p>
            <div class="pagamento">
              <h3 class="avulso">Avulso <span>R$35</span></h3>
              <h3 class="avulso">Mensal <span>R$35</span></h3>
            </div>
          </li>
          <li>
            <h2>Pezinho
            </h2>
            <p>Corte de cabelo completo com tesoura, máquina e navalha.</p>
            <div class="pagamento">
              <h3 class="avulso">Avulso <span>R$35</span></h3>
              <h3 class="avulso">Mensal <span>R$35</span></h3>
            </div>
          </li>
        </ul>
      </div>
    </section>

    <!-- <section class="atendimento">
      <div>
        <h1>ATENDEMOS TODAS AS PESSOAS E ESTILOS</h1>
        <p>Desde 2015, cuidamos do visual dos tijucanos: crianças, homens, mulheres, idosos, jovens e crianças. Todos são mais que bem-vindos! Aqui você encontra personalização em um ambiente agradável e acolhedor para cuidar do seu cabelo e da sua barba, sempre com um tratamento de amigo de longa data. 
          Marque o seu horário, aproveite para relaxar enquanto cuida do visual e traga seus amigos para beber uma cerveja ou café na faixa!</p>
      </div>
    </section> -->
  </main>

  <footer class="footer-bg">
    <div>
      <h1>© 2015 Barbearia Lipe Cortes LTDA. CNPJ: 12.456.789/0001-07</h1>
    </div>
  </footer>
  <script src="script/home.js"></script>
</body>

</html>