<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Registre-se</title>
  <link rel="stylesheet" href="/css/register.css">
</head>

<body>
  <header class="container">
    <div class="header-menu">
      <div class="imagem-logo">
        <a href="/home"><img src="IMG/Captura de tela 2024-09-02 141005 1LOGO.svg" alt=""></a>
      </div>
      <div class="menu-barber">
        <ul>
          <li><a href="register">Inscreva-se</a></li>
          <li><a href="login">Login</a></li>
        </ul>
      </div>
    </div>
  </header>
  <main>

    <h1>REGISTRE-SE</h1>
    <form id="formulario">
      <div>
        <label for="name">Nome de usuário</label>
        <input type="text" id="name" name="name">
      </div>
      <div>
        <label for="email">Email</label>
        <input type="email" id="email" name="email">
      </div>
      <div>
        <label for="tel">Telefone</label>
        <input type="text" id="tel" name="tel" placeholder="(00) 00000-0000">
      </div>
      <div>
        <label for="password">Senha</label>
        <input type="password" id="password" name="password">
      </div>
      <div>
        <label for="confirmpassword">Confirmar senha</label>
        <input type="password" id="confirmpassword" name="confirmpassword">
      </div>
      <button class="botao" type="submit">Enviar</button>
      <ul class="observacao">
        <span>OBS:</span>
        <li>A senha deve conter no mínimo 10 dígitos</li>
        <li>A senha deve conter no mínimo um caractere especial</li>
      </ul>
      <div class="resposta"></div>
    </form>


  </main>

  <script src="script/register.js"></script>
</body>

</html>