@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
  background-color: #f4f7fc;
  font-family: "Poppins", sans-serif;
  color: #333;
  margin: 0;
  padding: 0;
}

.container {
  padding: 20px;
}

.header-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(135deg, #1e3c72, #2a5298);
  padding: 15px;
  border-radius: 8px;
}

.group {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: start;
  text-align: center;
}

.group label {
  font-size: 1.2rem;
}

.menu-barber ul {
  display: flex;
  gap: 15px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu-barber ul li {
  background: #ffffff;
  padding: 10px 15px;
  border-radius: 8px;
  font-weight: bold;
  transition: all 0.3s;
}
.menu-barber ul li:hover {
  background: #2a5298;
  color: white;
}

.menu-barber ul li a {
  text-decoration: none;
  color: inherit;
}

.imagem-logo img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
}

main {
  display: grid;
  margin: 0 auto;
  grid-template-rows: max-content;
  justify-content: center;
}

h1 {
  justify-self: center;
  align-self: start;
  font-family: Arial;
}

form {
  background: #515151;
  width: 90%;
  max-width: 1200px;
  margin: 150px;
  display: grid;
  text-align: center;
  grid-template-columns: repeat(7, 1fr);
  justify-items: center;
  align-self: start;
  padding: 80px;
  border-radius: 5px;
  margin-top: 30px;
  gap: 15px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
}

select {
  border-radius: 6px;
  padding: 5px;
  width: 90px;
}

form select {
  margin: 10px;
  padding: 15px;
  border-radius: 5px;
  width: 120px;
  font-size: 1.2rem;
  border: 1px solid #000;
  height: 50px;
}

form label {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  color: #fff;
  font-size: 1.5rem;
}

form div {
  display: flex;
  flex-direction: column;
}

.divContainer {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
}

#diasDisponiveis li {
  list-style: none;
  background-color: #fff;
  padding: 10px;
  border-radius: 4px;
  margin: 5px;
  font-size: 1.5rem;
  font-weight: bold;
  font-family: arial;
  width: content;
  justify-self: start;
  user-select: none;
}

#dia h2 {
  padding: 6px;
  background-color: #11374e;
  border-radius: 6px;
  font-family: Arial;
  color: #fff;
  width: 100%;
  text-align: center;
}

.tempo {
  margin: 0;
  padding: 0;
  margin-bottom: 15px;
}

.container-dia #dia li {
  list-style: none;
  font-family: Arial;
  color: #000;
  background-color: #fff;
  padding: 6px;
  border-radius: 6px;
  cursor: pointer;
  user-select: none;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}
.container-dia #dia div {
  width: 100%;
}

ul #dia {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#dia {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.mudarCor {
  background-color: aqua !important;
}

.loader {
  border: 5px solid #f3f3f3;
  border-top: 5px solid #3498db;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.listaLi {
  display: flex;
  opacity: 1;
  margin-top: 30px;
}

.listaLi li {
  display: none;
}

.ativo {
  display: block !important;
}

#data-hora {
  display: flex;
  justify-content: center;
  background-color: #1e577a;
  padding: 15px;
  border-radius: 6px;
  font-family: Arial;
  font-weight: bold;
  font-size: 1.3rem;
  text-align: center;
  text-decoration: none;
  color: #fff;
}

.botao {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  color: #fff;
  font-size: 1rem;
  background-color: #494d55;
  border: 1px solid #000;
  margin: 0 auto;
  margin-top: 50px;
  padding: 10px;
  border-radius: 5px;
  width: 300px;
  grid-column: span 7;
}

.botao:hover {
  background-color: #424854;
}

#mobile#formulario div {
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .header-menu {
    align-items: center;
    text-align: center;
  }

  .menu-barber ul {
    flex-direction: column;
    gap: 10px;
  }

  form {
    display: flex;
    flex-direction: column;
    width: 90%;
    padding: 20px;
  }

  form div {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  form select {
    width: 100%;
    max-width: 200px;
    height: max-content;
  }

  .botao {
    width: 100%;
    max-width: 200px;
  }
}
