html,
body {
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
  font-family: "Poppins", sans-serif;
  color: #333;
}

main {
  flex: 1; /* Faz com que o conteúdo principal ocupe o espaço disponível */
}

footer {
  background-color: #2a5298;
  padding: 20px 0;
  text-align: center;
  color: white;
}

.footer-bg {
  background-color: #2a5298;
  padding: 20px 0;
  text-align: center;
}

.container {
  padding: 20px;
}

.header-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(135deg, #1e3c72, #2a5298);
  padding: 15px;
  border-radius: 8px;
}

.imagem-logo img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
}

.menu-barber ul {
  display: flex;
  gap: 15px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu-barber ul li {
  background: #ffffff;
  padding: 10px 15px;
  border-radius: 8px;
  font-weight: bold;
  transition: all 0.3s;
}

.menu-barber ul li:hover {
  background-color: #3799d4;
}

.menu-barber ul li a {
  text-decoration: none;
  color: inherit;
}

.bg-servicos {
  background-color: #f4f7fc;
}

.servicos h1 {
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  color: #333;
  text-align: center;
  margin-bottom: 20px;
}

.conteudo-servicos {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

.conteudo-servicos ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.conteudo-servicos li {
  background: #ffffff;
  border-radius: 8px;
  padding: 20px;
  width: 280px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.conteudo-servicos li:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
}

.conteudo-servicos h2 {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  color: #2a5298;
  margin-bottom: 10px;
}

.conteudo-servicos p {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  color: #777;
  margin-bottom: 20px;
}

.pagamento h3 {
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
  font-weight: bold;
  color: #3799d4;
}

.pagamento span {
  font-size: 1rem;
  color: #555;
}

.botao-reserva {
  background-color: #2977ff; /* Mesma cor do botão "Cancelar agendamento" */
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 0.9em; /* Ajusta o tamanho da fonte nos botões */
}

.footer-bg h1 {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  color: #fff;
  margin: 0;
}

#menu-hamburguer div {
  width: 30px;
  height: 3px;
  background-color: #fff;
  margin: 3px;
  display: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Responsividade */
@media (max-width: 900px) {
  .header-menu {
    justify-items: space-between;
  }



  .menu-barber {
    display: none;
  }
  .menu-barber ul {
    flex-direction: column;
    width: 100%;
    align-items: center;
  }

  #menu-hamburguer div {
    display: block;
  }

  .imagem-logo img {
    width: 70px;
    height: 70px;
  }

  .conteudo-servicos {
    flex-direction: column;
    align-items: center;
  }

  .conteudo-servicos li {
    width: 100%;
    padding: 15px;
  }

  .footer-bg h1 {
    font-size: 0.9rem;
  }
}
