.container {
  max-width: 1200px;
  padding: 30px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: #fff;
}

.menu-barber ul {
  display: flex;
  gap: 10px;
  list-style: none;
}

.menu-barber ul li {
  font-family: Arial;
  font-size: 1rem;
  font-weight: bold;
  color: white;
  padding: 10px;
  background-color: #0b2230;
  border-radius: 5px;
}

.menu-barber ul li a {
  padding: 5px;
}

.header-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1e577a;
  padding: 20px;
  border-radius: 4px;
}

.imagem-logo img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  object-fit: cover;
  border: 3px solid #49b4f5;
}

main {
  display: grid;
  margin: 0 auto;
  grid-template-rows: max-content;
  justify-content: center;
}

body {
  background-color: #3c99d2;
}

h1 {
  justify-self: center;
  align-self: start;
  font-family: Arial;
  color: #fff;
}

form {
  background: #59c0ff;
  width: max-content;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  align-self: start;
  padding: 80px;
  border-radius: 5px;
  margin-top: 30px;
}

form input {
  padding: 15px;
  border-radius: 5px;
  width: 300px;
  font-size: 1.2rem;
  border: 1px solid #6dc8ff;
  box-shadow: #3799d4 1px 2px;
}

form label {
  font-family: Arial;
  font-size: 1.5rem;
}

form button {
  margin-top: 50px;
  border: 1px solid #11374e;
  background-color: #3799d4;
  padding: 10px;
  width: 300px;
  border-radius: 5px;
}

form div {
  display: flex;
  flex-direction: column;
}

.resposta {
  color: #fff;
  text-transform: uppercase;
  margin-top: 10px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}

.divContainer {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  border: 1px solid #8ebbe0;
  background: #79b1de;
  padding: 10px;
  border-radius: 5px;
}

ul {
  padding: 0px;
  margin: 0px;
}

#diasDisponiveis li {
  list-style: none;
  background-color: #fff;
  padding: 10px;
  border-radius: 4px;
  margin: 5px;
  font-size: 1.5rem;
  font-weight: bold;
  font-family: arial;
  width: content;
  justify-self: start;
  user-select: none;
}

#dia h2 {
  padding: 3px;
  background-color: #3787c8;
  border-radius: 2px;
  font-family: "Roboto", sans-serif;
  font-size: 1.3rem;
  color: #000;
  width: 100%;
  text-align: center;
}

.tempo {
  margin: 0;
  padding: 0;
  margin-bottom: 15px;
}

.container-dia #dia li {
  list-style: none;
  font-family: Arial;
  color: #000;
  background-color: #fff;
  padding: 3px;
  border-radius: 3px;
  cursor: pointer;
  user-select: none;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
}
.container-dia #dia div {
  width: 100%;
}

ul #dia {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#dia {
  display: flex;
  justify-content: center;
  gap: 60px;
}

.mudarCor {
  background-color: aqua !important;
}

.loader {
  border: 5px solid #f3f3f3;
  border-top: 5px solid #3498db;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.listaLi {
  display: flex;
  opacity: 1;
  margin-top: 30px;
}

.listaLi li {
  display: none;
}

.ativo {
  display: block !important;
}

.desativar {
  display: block !important;
}

#negar,
#agendamentoAceito {
  display: block;
  justify-content: center;
  background-color: #69aee5;
  border: 0.5px solid #0160ae;
  padding: 8px;
  border-radius: 3px;
  font-family: Arial;
  font-weight: bold;
  font-size: 1.3rem;
  text-align: center;
  text-decoration: none;
  color: #fff;
  margin-top: 10px;
}

a.forgotPass {
  margin-top: 5px;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: bold;
  text-shadow: #000 1px 1px 1px;
}

.observacao {
  margin-top: 30px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 1rem;
}

.div-status {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
